---
---
@charset "utf-8";



// Our variables
$base-font: "Greta Sans", Helvetica, Arial, sans-serif;
$aux-font: "Fedra Serif B", Helvetica, Arial, sans-serif;

$base-font-size:   1rem;
$aux-font-size:   1.2rem;

$base-font-weight: 200;
$aux-font-weight: 300;

$base-line-height: 1.5rem;

$spacing-unit:     30px;

$text-color: #111;
$background-color: #fdfdfd;
$azul: #0000ff;
$meio-azul: rgba(0, 0, 255, .5);
$vermelho: #ff0000;
$meio-vermelho: rgba(255, 0, 0, .5);

$preto: #000;
$cinza: #828282;
$branco: #fff;
$meio-branco: rgba(255, 255, 255, .5);
$cinza-claro: lighten($cinza, 40%);
$cinza-escuro:  darken($cinza, 25%);

@import
	"variaveis",
    "base",
    "tipografia",
    "componentes"
;
