header, section {
    padding-bottom: 1rem;
    &:first-child {
        padding-top: 1rem;
    }
}

.negativo + * {
    padding-top: 1rem;
}

.negativo + .negativo {
    padding-top: 0;
}

header {
    border-bottom: 1px solid $preto;
    &.negativo {
        background-color: $preto;
    }
}

.capa {
    blockquote {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

.registro {
    border: 1px dotted $meio-vermelho;
    padding: 1rem;
    border-radius: 2px;
    margin-bottom: 1rem;
    &:hover {
        background-color: $meio-vermelho;
        border: 1px solid transparent;
        * {
            color: $branco;
        }
    }
}

#pedra {
    width: 33.333%;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    position: relative;
    mix-blend-mode: multiply;
    pointer-events: none;
    opacity: 0.5;
    transform: translateY(16.6666%) scale(1.5) rotate(270deg);
    //transform: scale(1.5) translateY(16.6666%) rotate(180deg);
}